# Node
node_modules/
npm-debug.log
package-lock.json

# Environment
.env

# Database
*.sqlite

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Cypress
cypress/videos/
cypress/screenshots/

# Prisma
src/generated/prisma
prisma/generated/